nav {}

.mo-navbar {
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-li {
    margin-right: 24px;


    #{$ltr} & {
        margin-left: 24px;
        margin-right: 0;

        @include sm {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.nav-anchor {
    font-size: 16px;
    color: #fff;
    font-family: med;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: $text;
    }
}